<div id="header">

	<%= image_tag "bundlr/shared/logoAlt.png", :class => 'logo' %>


	<% if signed_in? %>

		<%= link_to "settings", edit_user_path(current_user) %>
		<!-- <%= image_tag current_user.avatar.url(:thumb) %> -->
		<%= link_to current_user.email, current_user %>
		<%= link_to "sign out", signout_path, method: "delete" %>

	<% else %>
		You are not signed in
		<% link_to "sign in", signin_path %>
	<% end %>

</div>